:root {
    --white: #fff;
    --black: #000;
    --company-color: #00B2FF;
    --font-color-base: #666;
    --font-color-dark: #212529;
    --font-color-light: #b0aebe;
    --font-color-link: #57a6ff;
    --footer: #34314b;
    --footer-base: #2e2b45;
    --contrast: rgba(246, 248, 249, 0.8);
    --success: #64ecf5;
    --danger: #ff8b8d;
    --grad-1: #a1ecff;
    --grad-2: #7dbcff;
    --size-10: 0.625rem;
    --size-14: 0.875rem;
    --size-16: 1rem;
    --size-18: 1.125rem;
    --size-20: 1.25rem;
    --size-30: 1.875rem;
    --size-40: 2.5rem;
    --size-50: 3.125rem;
    --size-100: 6.25rem;
    --size-150: 9.375rem;
    --level-one: translateZ(3rem);
    --level-two: translateZ(6rem);
    --level-three: translateZ(9rem);
    --fw-normal: 400;
    --fw-bold: 700;
    /* --clr: #b7ce95; */
    --clr: 00B2FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gudea', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    /* color: var(--black); */
}

button {
    display: none;
}

.btn {
    color: var(--black);
    border-radius: .8rem;
    border: 1px solid var(--black);
    padding: .5rem;
    margin: auto;
    max-width: 10rem;
    font-size: 1.5rem;
}

.btn:hover {
    background-color: var(--company-color);
    color: var(--white);
    border: 1px solid white;
    border-radius: 10px;
}


/* .subscribe-btn {
    color: var(--black);
    border-radius: .8rem;
    border: 1px solid var(--black);
    padding: .5rem 1rem;
    margin: auto;
    max-width: 10rem;
    font-size: 1rem;
} */

footer {
    margin-top: var(--size-30);
}