    /* navigation area */
    
    .flex,
    .nav-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .primary-navigation {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    .primary-navigation a {
        text-decoration: none;
        font-size: var(--size-20);
        color: var(--black);
    }
    
    .primary-navigation a:hover {
        color: var(--company-color);
    }
    
    .primary-navigation li {
        padding: 1rem;
    }
    
    #active {
        color: var(--company-color);
    }
    /* end nav bar */
    /* start header/header image */
    
    .header {
        height: 600px;
        max-width: 1600px;
        margin: auto;
    }
    
    .header-image {
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, .25) 40%, transparent 30%), url(/assets/images/49379-39377820-l-scaled.jpeg);
        background-size: center;
        background-repeat: no-repeat;
        background-position: 50% 60%;
        position: relative;
    }
    
    .company-logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* end header/header image */
    /* Phone number */
    
    .phone-number {
        margin-top: 2rem;
        text-align: center;
        font-size: var(--size-40);
    }
    /* ===== start CARDS ===== */
    
    .flip-cards {
        padding-top: 5rem;
    }
    
    .card-grid {
        display: grid;
        grid-template-areas: "1 2" "3 4" "5 .";
        gap: 2rem;
    }
    
    .card {
        width: 600px;
    }
    
    .card>.card5 {
        width: 1233px;
    }
    
    .card__content {
        text-align: center;
        position: relative;
        padding: 7em 11em;
        transition: transform 1s;
        transform-style: preserve-3d;
    }
    
    .card:hover .card__content {
        transform: rotateY(.5turn);
    }
    
    .card__front,
    .card__back {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 5em 3em;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        display: grid;
        align-content: center;
    }
    
    .front1 {
        background-color: var(--clr);
        background-image: url(/assets/images/Air-Conditioning-Gold-Coast-1.jpg);
        background-size: cover;
        background-blend-mode: overlay;
        color: #333;
    }
    
    .front2 {
        background-color: var(--clr);
        background-image: url(/assets/images/738903160-H-1024x700.webp);
        background-size: cover;
        background-blend-mode: overlay;
        color: #333;
    }
    
    .front3 {
        background-color: var(--clr);
        background-image: url(/assets/images/Air-Conditioning-Home-Owner-Guide.jpg);
        background-size: cover;
        background-blend-mode: overlay;
        color: #333;
    }
    
    .front4 {
        background-color: var(--clr);
        background-image: url(/assets/images/49379-39377820-l-scaled.jpeg);
        background-size: cover;
        background-blend-mode: overlay;
        color: #333;
    }
    
    .front5 {
        background-color: var(--clr);
        background-image: url(/assets/images/ac.jpg);
        background-size: cover;
        background-blend-mode: overlay;
        color: #333;
    }
    
    .card__front::before {
        content: '';
        position: absolute;
        --spacer: 1em;
        top: var(--spacer);
        bottom: var(--spacer);
        left: var(--spacer);
        right: var(--spacer);
        border: 3px solid currentColor;
        transform: var(--level-one);
    }
    
    .card__title {
        font-size: 3.5rem;
        transform: var(--level-three);
        order: 2;
        text-transform: uppercase;
    }
    
    .card__subtitle {
        transform: var(--level-two);
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: .75rem;
        font-weight: var(--fw-bold);
        opacity: .7;
    }
    
    .card__body {
        transform: var(--level-two);
        font-weight: var(fw-normal);
        font-size: 1.5rem;
        line-height: 1.6;
        color: var(--white);
    }
    
    .card__back {
        transform: rotateY(.5turn);
        color: var(--clr);
        background: var(--company-color);
    }
    
    .card1 {
        /* display: grid; */
        grid-area: 1;
    }
    
    .card2 {
        /* display: grid; */
        grid-area: 2;
    }
    
    .card3 {
        /* display: grid; */
        grid-area: 3;
    }
    
    .card4 {
        /* display: grid; */
        grid-area: 4;
    }
    
    .card5 {
        /* display: grid; */
        grid-area: 5;
    }
    
    .card__btn {
        margin: auto;
        padding: 0 1rem;
        max-width: 25rem;
        align-self: center;
        background-color: var(--white);
        color: var(--black);
        border-radius: 10px;
        border: white solid;
        font-size: var(--size-20);
    }
    
    .card__btn,
    a {
        text-decoration: none;
    }
    /* .card_btn a:hover {
        border: 1px var(--white) solid;
        background-color: var(--company-color);
        color: var(--white);
    } */
    /* end cards */
    /* ===== REVIEWS AREA ===== */
    
    .reviews {
        margin-top: 10rem;
    }
    
    .review-header {
        text-align: center;
        padding: 2rem 0;
        color: var(--white);
    }
    
    .review-header h2 {
        font-size: var(--size-30);
    }
    
    .review-header p {
        font-size: var(--size-20);
    }
    
    .review-content {
        height: 30rem;
        /* margin-top: 10rem; */
        background-color: var(--company-color);
        max-width: 1600px;
    }
    
    .review-carousel {
        margin: auto;
        width: 50%;
        overflow: hidden;
    }
    
    .review {
        width: 100%;
        float: left;
    }
    
    .dots {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    
    .dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #ccc;
        margin: 0 5px;
    }
    
    .dot.active {
        background-color: #333;
    }
    /* end reviews */
    /* ===== Product area ===== */
    
    .products {
        margin: 10rem 0;
        line-height: 2;
    }
    
    .product-flex {
        display: flex;
        align-items: center;
    }
    
    .product-desc h2 {
        font-size: var(--size-30);
    }
    
    .product-desc {
        font-size: var(--size-20);
    }
    
    .product-desc>a {
        border: 1px solid black;
        border-radius: 10px;
        max-width: fit-content;
        margin: 1rem auto;
        padding: 0 2rem;
        display: flex;
        justify-content: center;
        color: var(--black);
    }
    
    .product-desc>a:hover {
        background-color: var(--company-color);
        color: var(--white);
        border: 1px solid white;
        border-radius: 10px;
    }
    
    .product-image {
        margin-left: auto;
    }
    /*  end product area */
    /* start job area */
    
    .jobs {
        margin: 2rem 0;
        /* background-color: red; */
        padding: 10rem 0;
    }
    
    .job-body a {
        display: flex;
        justify-content: center;
    }
    
    .job-header h2 {
        text-align: center;
        color: var(--black);
    }
    
    .photos {
        display: flex;
        padding: 4rem 0;
        justify-content: space-evenly;
    }
    
    .photo {
        width: 200px;
        height: 200px;
        background-color: var(--company-color);
    }
    /* end job area */
    
    .reveal {
        position: relative;
        transform: translateY(75px);
        opacity: 0;
        transition: all 2s ease;
    }
    
    .reveal.active {
        transform: translateY(0px);
        opacity: 100;
    }
    /* start footer */
    
    .main-footer {
        background-color: var(--company-color);
    }
    
    .footer-flex {
        display: flex;
        margin: auto;
        justify-content: space-between;
        padding: var(--size-10);
    }
    /* end footer */
    /* Company page  */
    
    .about,
    .team-area {
        margin-top: var(--size-100);
    }
    
    .about h2,
    .team-area h2 {
        font-size: var(--size-40);
    }
    
    .about,
    .motto {
        text-align: center;
        line-height: 2;
        letter-spacing: .1rem;
        /*maybe delete the letter spacing?*/
    }
    /* ========================================== */
    
    @media (max-width: 700px) {
        .primary-navigation {
            position: fixed;
            z-index: 1000;
            inset: 0 0 0 30%;
            flex-direction: column;
            padding: min(10vh, 10rem) 2em;
            background: var(--company-color);
            transform: translateX(100%);
            transition: transform 350ms ease-out;
        }
        /* primary nav on other pages */
        /* background: linear-gradient(180deg, #000000 58.5%, #F1DDc5 85.83%, #F1DDC5 30%);
            height: 150px;
            background-color:black; */
        /* ===== */
        .primary-navigation li {
            padding: 2rem;
        }
        .primary-navigation[data-visible="true"] {
            transform: translateX(0%);
        }
        .mobile-nav-toggle {
            display: block;
            position: absolute;
            z-index: 9999;
            background-color: transparent;
            background-image: url(/assets/icons/icon-hamburger.svg);
            background-repeat: no-repeat;
            border: 0;
            width: 2rem;
            aspect-ratio: 1;
            top: 2rem;
            right: 2rem;
        }
        .mobile-nav-toggle[aria-expanded="true"] {
            background-image: url(/assets/icons/icon-close.svg);
        }
        /* .logo {
        display: none;
        margin: auto;
    }
    .mobile-logo {
        display: block;
    } */
        #active {
            color: var(--white);
        }
    }