/* navigation area */

.flex,
.nav-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
}

.primary-navigation a {
    text-decoration: none;
    font-size: var(--size-20);
    color: var(--black);
}

.primary-navigation a:hover {
    color: var(--company-color);
}

.primary-navigation li {
    padding: 1rem;
}


/* .pulse {
    animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.active-pulse>a {
    color: white;
    background-color: rgb(8, 206, 8);
    border-radius: 10px;
    padding: 10px;
} */

#active {
    color: var(--company-color);
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(241, 241, 241, .7);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 0 10px 10px 10px;
    z-index: 1;
    list-style-type: none;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    /* background-color: #ddd; */
    background-color: rgba(241, 241, 241, .2);
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* end nav bar */


/* start header/header image */

.header {
    height: 600px;
    max-width: 1600px;
    margin: auto;
}

.header-image {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, .25) 40%, transparent 30%), url(/assets/images/49379-39377820-l-scaled.jpeg);
    background-size: center;
    background-repeat: no-repeat;
    background-position: 50% 60%;
    position: relative;
}

.company-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* end header/header image */


/* Phone number */

.phone-number {
    margin-top: 2rem;
    text-align: center;
    font-size: var(--size-40);
}

.phone-number a {
    color: var(--black);
}

.title-motto {
    margin: auto;
    margin-top: 10rem;
    max-width: 1200px;
}


/* ===== start CARDS ===== */

.card-header {
    text-align: center;
    margin-bottom: 2rem;
}

.flip-cards {
    padding-top: 5rem;
    ß
}

.card-grid {
    display: grid;
    grid-template-areas: "item1 item2" "item3 item4" "item5 5";
    gap: 1rem;
    justify-content: center;
}

.card {
    width: 600px;
}

.card>.card5 {
    width: 1216px;
}

.card__content {
    text-align: center;
    position: relative;
    padding: 7em 11em;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card:hover .card__content {
    transform: rotateY(.5turn);
}

.card__front,
.card__back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5em 3em;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    display: grid;
    align-content: center;
}

.front1 {
    background-color: var(--clr);
    background-image: url(/assets/images/Air-Conditioning-Gold-Coast-1.jpg);
    background-size: cover;
    background-blend-mode: overlay;
    color: #333;
}

.front2 {
    background-color: var(--clr);
    background-image: url(/assets/images/738903160-H-1024x700.webp);
    background-size: cover;
    background-blend-mode: overlay;
    color: #333;
}

.front3 {
    background-color: var(--clr);
    background-image: url(/assets/images/Air-Conditioning-Home-Owner-Guide.jpg);
    background-size: cover;
    background-blend-mode: overlay;
    color: #333;
}

.front4 {
    background-color: var(--clr);
    background-image: url(/assets/images/49379-39377820-l-scaled.jpeg);
    background-size: cover;
    background-blend-mode: overlay;
    color: #333;
}

.front5 {
    background-color: var(--clr);
    background-image: url(/assets/images/ac.jpg);
    background-size: cover;
    background-blend-mode: overlay;
    color: #333;
}

.card__front::before {
    content: '';
    position: absolute;
    --spacer: 1em;
    top: var(--spacer);
    bottom: var(--spacer);
    left: var(--spacer);
    right: var(--spacer);
    border: 3px solid currentColor;
    transform: var(--level-one);
}

.card__title {
    font-size: 3.5rem;
    transform: var(--level-three);
    order: 2;
    text-transform: uppercase;
}

.card__subtitle {
    transform: var(--level-two);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: .75rem;
    font-weight: var(--fw-bold);
    opacity: .7;
}

.card__body {
    transform: var(--level-two);
    font-weight: var(fw-normal);
    font-size: 1.5rem;
    line-height: 1.6;
    color: var(--white);
}

.card__back {
    transform: rotateY(.5turn);
    color: var(--clr);
    background: var(--company-color);
}

.card1 {
    /* display: grid; */
    grid-area: item1;
}

.card2 {
    /* display: grid; */
    grid-area: item2;
}

.card3 {
    /* display: grid; */
    grid-area: item3;
}

.card4 {
    /* display: grid; */
    grid-area: item4;
}

.card5 {
    /* display: grid; */
    grid-area: item5;
}

.card__btn {
    margin: auto;
    padding: 0 1rem;
    max-width: 25rem;
    align-self: center;
    background-color: var(--white);
    color: var(--black);
    border-radius: 10px;
    border: white solid;
    font-size: var(--size-20);
}

.card__btn,
a {
    text-decoration: none;
}


/* .card_btn a:hover {
        border: 1px var(--white) solid;
        background-color: var(--company-color);
        color: var(--white);
    } */


/* end cards */


/* ===== REVIEWS AREA ===== */

.carousel-container {
    overflow: hidden;
}

.carousel-review {
    margin: auto;
    width: 50%;
    display: none;
}

.carousel-review.active {
    display: block;
}

.carousel-dots {
    display: flex;
    justify-content: center;
}

.dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: lightgray;
    margin-right: 5px;
    cursor: pointer;
}

.dot.active {
    cursor: pointer;
    background-color: white;
}

.reviews {
    margin-top: 10rem;
}

.review-header {
    text-align: center;
    padding: 2rem 0;
    color: var(--white);
}

.review-header h2 {
    font-size: var(--size-30);
}

.review-header p {
    font-size: var(--size-20);
}

.review-content {
    height: 30rem;
    margin: auto;
    margin-top: 10rem;
    background-color: var(--company-color);
    max-width: 1600px;
}


/* .reveal-text {
        transform: translateY(100%);
        transition: transform 0.5s ease-in;
    }
     */

.review {
    background-color: rgba(255, 255, 255, .40);
    border-radius: 30px 0px;
    padding: 2rem 2rem;
    margin: 2rem auto;
}

.review.in {
    animation: slideIn 0.8s forwards;
}


/* end reviews */


/* ===== Product area ===== */

.products {
    margin: 10rem 0;
    line-height: 2;
}

.product-flex {
    display: flex;
    align-items: center;
}

.product-desc h2 {
    text-align: center;
    font-size: var(--size-30);
}

.product-desc {
    font-size: var(--size-20);
}

.product-desc>a {
    border: 1px solid black;
    border-radius: 10px;
    max-width: fit-content;
    margin: 1rem auto;
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    color: var(--black);
}

.product-desc>a:hover {
    background-color: var(--company-color);
    color: var(--white);
    border: 1px solid white;
    border-radius: 10px;
}

.product-image {
    margin-left: auto;
}


/*  end product area */


/* start job area */

.jobs {
    margin: 2rem auto;
    /* background-color: red; */
    padding: 10rem 0;
}

.job-body a {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.job-header h2 {
    text-align: center;
    color: var(--black);
}

.job-header p {
    text-align: center;
    color: var(--black);
    margin-bottom: 3rem;
}

#carousel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    cursor: pointer;
}

.image-container {
    overflow: hidden;
    position: relative;
}

.image-container img {
    width: 100%;
    height: auto;
    transition: all 0.3s ease;
}

#enlarged-photo {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    justify-content: center;
    align-items: center;
}

#enlarged-photo img {
    max-width: 80%;
    max-height: 80%;
}

@media screen and (max-width: 800px) {
    #carousel {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 550px) {
    #carousel {
        grid-template-columns: repeat(1, 1fr);
    }
}


/* end job area */


/* Subscribe section */


/* .subscribe-container {
    margin: auto;
    display: flex;
  
align-items: center;
justify-content: center;

}
.subscribe-container h3 {
    margin: 1rem;
} */


/* end subscribe section */


/* start bios */

.team {
    margin: 7rem;
}

.team img {
    border-radius: 50%;
}

.bio-header {
    text-align: center;
    margin: 3rem auto;
}

.bio-header h2 {
    margin: 1rem;
    font-size: var(--size-40);
}

.bio-header p {
    margin-bottom: 5rem;
}

.bio {
    margin: 2rem auto;
    text-align: center;
}

.bio p {
    margin: auto;
    text-align: center;
    max-width: 500px;
}

.bio .emp-title {
    margin-bottom: 1rem;
}

hr {
    margin: 5rem auto;
    max-width: 100px;
}

.kelsey-bio {
    margin-bottom: 20rem;
}


/* end biis */


/* Reviews page */

.review-page-header {
    margin: 5rem auto;
}

.review-page-header h2 {
    font-size: var(--size-40);
    margin-bottom: 2rem;
}

.review-intro {
    text-align: center;
}

.review-intro p {
    margin: auto;
    max-width: 700px;
}


/* Careers page */

.jobs {
    text-align: center;
    margin: auto;
}

.jobs-desc h2 {
    margin-bottom: 2rem;
    font-size: var(--size-40);
}

.jobs-desc p {
    margin: auto;
    max-width: 600px;
    text-align: center;
}

.openings {
    text-align: center;
}

.openings h2 {
    margin-bottom: 2rem;
    font-size: var(--size-40);
}

.openings p {
    margin: auto;
    max-width: 600px;
}


/* end job openings */


/* start services */

.service-intro {
    margin: 2rem auto;
}

.service-intro h2 {
    text-align: center;
    margin: 7rem auto 2rem auto;
    font-size: var(--size-40);
}

.service-list {
    margin-bottom: 15rem;
}

.service-list h2 {
    text-align: center;
    margin: 2rem auto;
}

.service-intro p,
.service-list p {
    margin: auto;
    max-width: 600px;
}


/* end services */


/* Products page */

.product-header {
    margin: auto;
    margin-top: 7rem;
    margin-bottom: 2rem;
}

.product-header h2 {
    text-align: center;
    font-size: var(--size-40);
    margin: 2rem;
}

.product-header p {
    margin: auto;
    max-width: 600px;
}


/* .products-grid {
    display: grid;
} */

.products-flex h3 {
    text-align: center;
    font-size: var(--size-30);
}

.products-flex p {
    max-width: 400px;
}

.flex-product {
    display: flex;
    margin: 4rem auto;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
}

.flex-product img {
    width: 400px;
}


/* end products page */


/* Company page  */

.about,
.team-area {
    margin-top: var(--size-100);
}

.about h2,
.team-area h2 {
    font-size: var(--size-40);
}

.about,
.motto {
    text-align: center;
    line-height: 2;
    letter-spacing: .1rem;
    /*maybe delete the letter spacing?*/
}


/* .text-to-show {
        opacity: 0;
        transition: opacity 1s ease-in-out;
    } */


/* ========================================== */


/* start footer */

.main-footer {
    background-color: var(--company-color);
}

.footer-flex {
    display: flex;
    margin: auto;
    justify-content: space-between;
    padding: var(--size-10);
}


/* end footer */